.tp-rs-menulink {
  	text-decoration: none
}
.header_logo {
	height: 60px;
}
.u-block-hover:hover .g-bg-black--hover {
    background-color: #9c8061 !important;
}

html {
	font-size: 14px;
	overflow-x: hidden;
}

body {
  	font-weight: 400;
  	font-size: 1rem;
  	font-family: "Montserrat", Helvetica, Arial, sans-serif;
  	line-height: 1.6;
  	color: #444;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	-moz-font-feature-settings: "liga", "kern";
  	text-rendering: optimizelegibility;
  	background-color: #fff;
}

/*------------------------------------
	Headings
------------------------------------*/
.h1, .h2, .h3, .h4, .h5, .h6, .h7,
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.h7 {
	font-size: .75rem;
}

.v-title:hover {
	text-decoration-line: none !important;
}

.js-next, .js-prev{
  background-color: black !important;
}